<?php

/* DSN can be any of the following form
 * pgsql://username:password@host:port/db_name pgsql://username/db_name
 * pgsql://username@!/path/to/socket/dir!/db_name
 *
 * See
 * http://pomm.coolkeums.org/documentation/manual#service-the-database-provider
 * for more examples and details.
 *
 * Edit and copy this file as config.php with your settings. A "test" schema
 * will be created in the given database and should be automatically removed
 * when tests finish.  On error, you may need to remove it manually:
 *
 * DROP SCHEMA test CASCADE;
 * 
 */

return "pgsql://username:password@host:port/db_name";
